<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Domy</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <style type="text/css">
        body{
            margin-top: 40px;
            margin-right: 70px;
            margin-bottom: 100px;
            margin-left: 70px; }
    </style>
</head>

<body>
<div style="margin: auto; max-width: 1000px">


<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Własne mieszkanie? Z nami to możliwe !</h1>
        <p class="lead">Dodaj nową inwestycję</p>
    </div>
</div>


<form action="/addOfferApartment" method="post" th:object="${newOfferApartment}" style="margin-left: 100px; margin-right: 100px">
    <div class="form-group">
        <label for="surface">Powierzchnia mieszkania</label>
        <input th:field="*{surface}" type="text" class="form-control" id="surface" placeholder="Wpisz powierzchnię mieszkania"/>
    </div>

    <div class="form-group">
        <label for="floor">Piętro</label>
        <input th:field="*{floor}" type="text" class="form-control" id="floor" placeholder="Wpisz piętro"/>
    </div>

    <div class="form-group">
        <label for="roomsNumber">Liczba pokoi</label>
        <input th:field="*{roomsNumber}" type="text" class="form-control" id="roomsNumber" placeholder="Wpisz liczbę pokoi"/>
    </div>

    <div class="form-group">
        <label for="URLplan">Podaj www planu</label>
        <input th:field="*{URLplan}" type="text" class="form-control" id="URLplan" placeholder="Podaj www planu"/>
    </div>

    <div class="form-group">
        <label for="price">Podaj cenę</label>
        <input th:field="*{price}" type="text" class="form-control" id="price" placeholder="Wpisz cenę w PLN"/>
    </div>
    <div class="form-group">
        <label for="description">Opis mieszkania</label>
        <input th:field="*{description}" type="text" class="form-control" id="description" placeholder="Podaj krótki opis"/>
    </div>



    <button type="submit" class="btn btn-primary">Dodaj mieszkanie</button>
</form>







</body>
</html>