<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Domy</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <style type="text/css">
        body {
            margin-top: 40px;
            margin-right: 70px;
            margin-bottom: 100px;
            margin-left: 70px;
        }
    </style>
</head>

<body>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Własne mieszkanie? Z nami to możliwe !</h1>
        <p class="lead">Poniżej znajdziesz dane szczegółowe lokalu</p>
    </div>
</div>

    <div class="card-body" th:each="apartment:${ApartDetails}">
        <h5 class="card-title" th:text="${apartment.description}"></h5>
    </div>

    <table class="table table-hover" style=" max-width: 1200px">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Powierzchnia</th>
            <th scope="col">Liczba pokoi</th>
            <th scope="col">Piętro</th>
            <th scope="col">Cena</th>
            <th scope="col">Status</th>
            <th scope="col">Informacje dodatkowe</th>
        </tr>
        </thead>
        <tbody th:each="apartment:${ApartDetails}">
        <tr>
            <td th:text="${apartment.id}"></td>
            <td th:text="${apartment.surface}+' m2'"></td>
            <td th:text="${apartment.roomsNumber}"></td>
            <td th:text="${apartment.floor}"></td>
            <td th:text="${apartment.price}+' PLN'"></td>
            <td th:text="${apartment.offerApartmentStatus}"></td>
            <!--<td th:text="${apartment.isPromoted}"></td>-->
        </tr>
        </tbody>
    </table><br><br>

<div class="card" th:each="apartment:${ApartDetails}">
    <center><img th:src="${apartment.URLplan}" alt="logo" style="width:1000px; height:auto"></center>
</div>

</body>
</html>